.film-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
 
}

h1 {
   margin-bottom: 2em;
}

.card {
    height: 300px;
    width: 200px;
    border: 5px solid green;
    margin: 5px;
    display: flex;
    flex-direction: column;
}